<!--<div class="container">
    <div class="header">
        <ul class="nav nav-pills ">
            <li class="active"><a ng-href="/">Home</a></li>
            <li><a ng-href="/about">About</a></li>
            <li><a ng-href="/portfolio">Portfolio</a></li>
            <li><a ng-href="/contact">Contact</a></li>
        </ul>
        <h3 class="text-muted">devApp</h3>
    </div>
</div>-->


<nav class="st-menu st-effect-11" id="menu-11">
    <h2 class="icon icon-lab">Sidebar</h2>
    <ul>
        <li><a class="icon icon-data" ui-sref="home">home</a></li>
        <li><a class="icon icon-location" ui-sref="about">About</a></li>
        <li><a class="icon icon-study" ui-sref="portfolio">Portfolio</a></li>
        <li><a class="icon icon-photo" ui-sref="contact">Contact</a></li>
        <li><a class="icon icon-wallet" ui-sref="home">home</a></li>
    </ul>
</nav>